[submodule "mecab"]
	path = mecab
	url = https://github.com/taku910/mecab.git
[submodule "mecab-ipadic-neologd"]
	path = mecab-ipadic-neologd
	url = https://github.com/neologd/mecab-ipadic-neologd.git
